
{% extends 'base.html' %}

{% block content %}
<h1>{{ view.action }} Post</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Save</button>
    <div class="form-group">
        <label for="tags">Tags:</label>
        {{ form.tags }}
    </div>
</form>
<a href="{% url 'post-list' %}">Cancel</a>
{% endblock %}

{% block logout %}
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% endblock logout%}
